<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>article</title>
<link rel="stylesheet" type="text/css" href="__CSS__/admin/bootstrap.css">
<link rel="stylesheet" type="text/css" href="__CSS__/admin/bootstrap-theme.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">
<link rel="stylesheet" href="__CSS__/admin/bswy.css" type="text/css">
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/admin/bootstrap.min.js"></script>
<script src="__JS__/admin/bootstrap-wysiwyg.js"></script>
<script src="__JS__/admin/jquery.hotkeys.js"></script>
<style type="text/css">
body{
	background-color:transparent;
	margin: 0;
	padding: 0;
}
li{
	opacity:.8;
	margin:5px;
	border:none;
	border-radius:4px;
}
a{
	color:white;
	text-decoration:none;
}
a:hover{
	color:#97FFFF;
	text-decoration:none;

}
ul{
	padding:5px;
	margin: 0;
}
.jum{
	width:85%;
	height:90%;
	position:absolute;
	left:0px;
 	right:0px;
 	top:40px;
 	bottom:50px;
 	border-radius:10px;
 	padding:15px;
 	margin:auto;
 	background-color: white;
 	/*display: none;*/
}
.jum_img{
	width:20px;
	float:right;
}
.container{
	width:98%;
}
.slider{
	width:40px;
	height:20px;
	border:1px solid black;
	background-color:#7CFC00;
	position:relative;
	margin:0;
	color:black;
}
.slider  i{
	display:block;
	border-radius:50%;
	border:1px solid black;
	width:45%;
	height:100%;
	position:absolute;
	top:0;
	left:21px;
	background-color:white;
}
.close i{
	left:0;
}
.a_close{
	pointer-events:none;
}
</style>
</head>
<body>
	<ul class="list-group">
		{foreach $list as $key=>$val}
	  <li class="list-group-item" >
	  	{$val.title}
	    <span class="badge">
	    	<a href="javascript:void(0);" id_="{$val.id}" onclick="del_click(this.getAttribute('id_'))">删除</a>
	    </span>
	    <span class="badge">
	    	<a href="javascript:void(0);" id_="{$val.id}" onclick="det_click(this.getAttribute('id_'))">详情</a>
	    </span>
	  </li>
	  {/foreach}
	</ul>
	<div class="jum">
		<a href="javascript:void(0);" onclick="jum_close()">
			<img src="__IMAGES__/x.png" class="jum_img">
		</a>
		<div style="clear:both;"></div>
		<div class="container">

		    <div style="margin-top:50px" class="input-group input-group-lg"><span class="input-group-addon"></span><input
		            type="text" placeholder="标题" name="title" class="form-control"></div>
		    <div style="margin-top:20px" data-role="editor-toolbar" data-target="#editor" class="btn-toolbar">
		        <div class="btn-group"><a data-toggle="dropdown" title="Font" class="btn dropdown-toggle"><i
		                class="glyphicon glyphicon-font"></i><b class="caret"></b></a>
		            <ul class="dropdown-menu"></ul>
		        </div>
		        <div class="btn-group"><a data-toggle="dropdown" title="Font Size" class="btn dropdown-toggle"><i
		                class="glyphicon glyphicon-text-height"></i><b class="caret"></b></a>
		            <ul class="dropdown-menu">
		                <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
		                <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
		                <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
		            </ul>
		        </div>
		        <div class="btn-group"><a data-edit="bold" title="Bold (Ctrl/Cmd+B)" class="btn"><i class="icon-bold"></i></a><a
		                data-edit="italic" title="Italic (Ctrl/Cmd+I)" class="btn"><i class="icon-italic"></i></a><a
		                data-edit="strikethrough" title="Strikethrough" class="btn"><i class="icon-strikethrough"></i></a><a
		                data-edit="underline" title="Underline (Ctrl/Cmd+U)" class="btn"><i class="icon-underline"></i></a>
		        </div>
		        <div class="btn-group"><a data-edit="insertunorderedlist" title="Bullet list" class="btn"><i
		                class="icon-list-ul"></i></a><a data-edit="insertorderedlist" title="Number list" class="btn"><i
		                class="icon-list-ol"></i></a><a data-edit="outdent" title="Reduce indent (Shift+Tab)" class="btn"><i
		                class="icon-indent-left"></i></a><a data-edit="indent" title="Indent (Tab)" class="btn"><i
		                class="icon-indent-right"></i></a></div>
		        <div class="btn-group"><a data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)" class="btn"><i
		                class="icon-align-left"></i></a><a data-edit="justifycenter" title="Center (Ctrl/Cmd+E)" class="btn"><i
		                class="icon-align-center"></i></a><a data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"
		                                                     class="btn"><i class="icon-align-right"></i></a><a
		                data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)" class="btn"><i class="icon-align-justify"></i></a>
		        </div>
		        <div class="btn-group"><a data-toggle="dropdown" title="Hyperlink" class="btn dropdown-toggle"><i
		                class="icon-link"></i></a>

		            <div class="dropdown-menu input-append"><input placeholder="URL" type="text" data-edit="createLink"
		                                                           class="span2">
		                <button type="button" class="btn">Add</button>
		            </div>
		            <a data-edit="unlink" title="Remove Hyperlink" class="btn"><i class="icon-cut"></i></a></div>
		        <div class="btn-group"><a id="pictureBtn" title="Insert picture (or just drag &amp; drop)" class="btn"><i
		                class="icon-picture"></i></a><input type="file" data-role="magic-overlay" data-target="#pictureBtn"
		                                                    data-edit="insertImage">

		            <div class="btn-group"><a data-edit="undo" title="Undo (Ctrl/Cmd+Z)" class="btn"><i
		                    class="icon-undo"></i></a><a data-edit="redo" title="Redo (Ctrl/Cmd+Y)" class="btn"><i
		                    class="icon-repeat"></i></a></div>
		            <input id="voiceBtn" type="text" data-edit="inserttext" x-webkit-speech=""></div>
		    </div>
		    <div id="editor">
		   	 
			</div>

		</div>
<!-- container -->
</body>


<script type="text/javascript">
	$('#editor').wysiwyg();
</script>
<script type="text/javascript">
	// $(document).ready(function(){

	// }); 
	function del_click(id){
		
	}

	function det_click(id){
		$.ajax({
			url:'article_det',
			type:'post',
			data:{"id":id},
			dataType:'json',
			// headers:{'token':token},
			success:function(r){
				
			},
			error:function(jqXHR,textStatus,errorThrown) {
				console.log(jqXHR);
				console.log(textStatus);
				console.log(errorThrown);
			}
		});
		$('.jum').css('display','inline-block');
		$('.badge').children('a').css('pointer-events','none');

	}

	function jum_close()
	{
		$('.jum').css('display','none');
		$('.badge').children('a').css('pointer-events','auto');
	}
</script>
</html>