<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>article</title>
<link rel="stylesheet" type="text/css" href="__CSS__/admin/bootstrap.css">
<link rel="stylesheet" type="text/css" href="__CSS__/admin/bootstrap-theme.min.css">
<style type="text/css">
body{
	background-color:transparent;
}
li{
	opacity:.8;
	margin:5px;
	border:none;
	border-radius:50%;
}
a{
	color:white;
	text-decoration:none;
}
a:hover{
	color:white;
	text-decoration:none;
}
</style>
</head>
<body>
	<div class="container">
		<ul class="list-group">
		  <li class="list-group-item">
		    <span class="badge"><a href="">详情</a></span>
		    <span class="badge"><a href="">删除</a></span>
		    <span class="badge"><a href="">修改</a></span>
		    此处应有文章列表
		  </li>
		</ul>
	</div>
<!-- container -->
</body>

<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript">
	// $(document).ready(function(){
	// 	$.ajax({
	// 		url:'admin/article_list',
	// 		type:'get',
	// 		dataType:'json',
	// 		// headers:{'key':'value'},
	// 		success:function(r){
				
	// 		}
	// 	});
	// }); 
</script>
</html>