<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>article</title>
<link rel="stylesheet" type="text/css" href="__CSS__/admin/bootstrap.css">
<link rel="stylesheet" type="text/css" href="__CSS__/admin/bootstrap-theme.min.css">
</head>
<body>
	<div class="container">
		<ul class="list-group">
		  <li class="list-group-item">
		    <span class="badge">14</span>
		    Cras justo odio
		  </li>
		</ul>
	</div>
<!-- container -->
</body>

<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript">
	// $(document).ready(function(){
	// 	$.ajax({
	// 		url:'admin/article_list',
	// 		type:'get',
	// 		dataType:'json',
	// 		// headers:{'key':'value'},
	// 		success:function(r){
				
	// 		}
	// 	});
	// }); 
</script>
</html>