<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>article</title>
<link rel="stylesheet" type="text/css" href="__CSS__/admin/bootstrap.css">

<mvc:annotation-driven enable-matrix-variables="true"></mvc:annotation-driven>
<context:component-scan base-package="com.th.action"></context:component-scan>
<mvc:default-servlet-handler/>

<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/admin/bootstrap.min.js"></script>
<script type="text/javascript" src="__JS__/admin/layer/layer.js"></script>
<style type="text/css">
body{ background-color:transparent; margin: 0; padding: 0; width:100%; height:100%; }
.content li{ opacity:.8; margin:5px; border:none; border-radius:4px; }
.content li:hover{ opacity: }
.content a{ color:black; text-decoration:none; }
.content a:hover{ color:#4876FF; text-decoration:none; }
.input_list:focus{ border:1px solid #1E90FF; }
.add_div{ text-align:center;display:inline-block;margin:0 auto; }
.inp_border{ border:none; }
</style>
</head>
<body>
<!-- container -->
	<div class="content">
		<ul class="list-group" id="con_ul">
		{foreach $list as $value}
			<!-- <a href="javascript:void(0);" class_id="{$value.id}"> -->
			<li class="list-group-item" >
				<input type="text" class_id="{$value.id}" value="{$value.name}" readonly="readonly" class="input_list inp_border" >
				<span class="badge">
					<a href="javascript:void(0);" id_="{$value.id}" click_type="delete">删除</a>
				</span>
				<span class="badge">
					<a href="javascript:void(0);" id_="{$value.id}" click_type="edit">修改</a>
				</span>
			</li>
			<!-- </a> -->
		{/foreach}
		</ul>
	</div>
<!-- container -->
<!-- footer -->
	<div class="d_page">
		<nav aria-label="...">
		  <ul class="pager">
		    <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>
		    <li style="opacity:1;">
		    	<a href="javascript:void(0)" id='a_add'>添加</a>
		    	<div class="input-group add_div">
		    	    <input type="hidden" class="form-control add_hidden " style="width:300px;" placeholder="分类名称..." ><span class="input-group-btn" style="display:inline">
		    	    <button class="btn btn-default submit" type="button" style="display:none">保存</button>
		    	    <button class="btn btn-default clos" type="button" style="display:none">取消</button></span>
		    	</div>
		    </li>
		    <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
		  </ul>
		</nav>
	</div>
<!-- footer -->
</body>
<script>
	var formData = new FormData();

	$('#con_ul a').click(function(){
		let type = $(this).attr('click_type');
		var val = $(this).parent().siblings('input').val(); 
		var class_id = $(this).parent().siblings('input').attr('class_id');

		switch (type)
		{
			case 'edit':
				$(this).parent().siblings('input').removeAttr("readonly");
				$(this).parent().siblings('input').removeClass('inp_border');
				$(this).parent().siblings('input').focus();
				$(this).attr('click_type','submit');
				$(this).html('保存');
			break;
			case 'delete':
			break;
			case 'submit':
				$(this).attr('click_type','edit');
			break;
			case 'clos':
			break;
		}

		
	});

	$('#a_add').click(function(){
		$(this).css('display','none');
		$('.add_hidden').attr('type','test');
		$('.submit').css('display','inline');
		$('.clos').css('display','inline');
	});
	$('.submit').click(function(){
		let name = $('.add_hidden').val();
		$.post('classify_add',{name:name},function(r){
			if(r.error == 'ok'){
				layer.open({
				title:'',
				content: r.content,
				btnAlign:'c',
				shade :0.5,
				anim: 5,
				closeBtn :0,
				yes:function(index,layero){
					layer.close(index);
					
					location.reload();
				}
			    });
			}else{
				layer.open({
				title:r.error,
				content: r.content,
				btnAlign:'c',
				shade :0.5,
				anim: 5,
				closeBtn :0
			    });
			}
		});
	});


</script>
</html>
