<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>login</title>
<link rel="stylesheet" type="text/css" href="static/css/login/style.css" />
<link rel="stylesheet" type="text/css" href="static/css/login/body.css"/> 
<link rel="stylesheet" type="text/css" href="static/css/admin/bootstrap.css">
<link rel="stylesheet" type="text/css" href="static/css/admin/bootstrap-theme.min.css">
<style type="text/css">
body{
	background:url(static/images/cloud.jpg) 0 bottom repeat-x  #049ec4;
}
#content form input[type="password"] {
	background: #eae7e7 url(static/images/8bcLQqF.png) no-repeat;
}
#content form input[type="text"] {
	background: url(static/images/8bcLQqF.png) 0 -112px no-repeat;
}
</style>
<style type="text/css">
.nav-ul{
	background-color:#fff;
}
.cover{
	width:50px;
	height: 50px;
	border-radius:50%;
}
.navbar-default{
	/*height: 80px;*/
	/*margin: 0;*/
}
.nav-li{
	color:#fff;
}
.color1{
	color:blue;
}

</style>
</head>
<body>
	<div class="header">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">
		        <img alt="Brand" src="static/images/cover.jpg" class="cover">
		      </a>
		    </div>
		    <!-- <span id="time" class="navbar-text navbar-link text-center text-justify" >time</span> -->
		    <p class="navbar-text navbar-right"><a href="#" class="navbar-link" style="padding-right: 10px;">logout</a></p>
		  </div>
		</nav>
	</div>
	<!-- <ul class="nav nav-pills nav-stacked nav-ul">
		<li class="nav-li">navbar navbar-inverse</li>
		<li>2</li>
		<li>3</li>
		<li>4</li>
	</ul> -->
		<ul class="nav nav-pills nav-stacked">
			<li role="presentation" class="dropdown">
			<a class="dropdown-toggle nav-ul" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
			  首页
			</a>
			</li>
			<li role="presentation" class="dropdown">
			<a class="dropdown-toggle nav-ul" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
			  文章<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
			  <li>Dropdown1</li>
			  <li>Dropdown2</li>
			  <li>Dropdown3</li>
			  <li>Dropdown4</li>
			</ul>
			</li>
		</ul>

	<div class="container">
	</div>
<!-- container -->
	<div class="footer" ></div>
</body>

<script type="text/javascript" src="static/js/jquery.js"></script>
<script type="text/javascript" src="static/js/jsencrypt.min.js"></script>
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/esm/popper-utils.js"></script> -->
<!-- <script type="text/javascript" src="static/js/admin/bootstrap.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- <script type="text/javascript">
	window.onload = mytime;
	function mytime() {
    var time=document.getElementById('time');
    var mydate=new Date();
    var y=mydate.getFullYear();
    var m=mydate.getMonth()+1;
    var d=mydate.getDate();
    var h=mydate.getHours();
    var min=mydate.getMinutes();
    var s=mydate.getSeconds();
    if(s<10){
    	s = '0'+s;
    }
    time.innerHTML = y+'/'+m+'/'+d+','+h+':'+min+':'+s;
    parseInt(Math.random()*5,10)+1;
	Math.floor(Math.random()*5)+1;
	var math = Math.ceil(Math.random()*5);
    setTimeout(mytime,1000);
    }
</script> -->
<script type="text/javascript">
	var public_key = $("#text").val();
	var encrypt = new JSEncrypt();
    encrypt.setPublicKey(public_key);

	$("#submit").click(function (){

		var encrypted = encrypt.encrypt($("#password").val());
		// var data = new array();
		var user = $("#username").val();
		var password = encrypted;

		if($("#password").val() !=''){
			$.ajax({
				url:'http://127.0.0.1:8088/login',
				type:'post',
				data:{'username':user,'password':password},
				dataType:'json',
				headers:{'key':'value'},
				success:function(r){
					console.log(r);
				},
				error:function(e){
					console.log(e);
				}
			});
		}
	});
</script>
</html>