<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>login</title>
<link rel="stylesheet" type="text/css" href="__CSS__/login/style.css" />
<link rel="stylesheet" type="text/css" href="__CSS__/login/body.css"/> 
<link rel="stylesheet" type="text/css" href="__CSS__/admin/bootstrap.css">
<link rel="stylesheet" type="text/css" href="__CSS__/admin/bootstrap-theme.min.css">
<mvc:annotation-driven enable-matrix-variables="true"></mvc:annotation-driven>  
<context:component-scan base-package="com.th.action"></context:component-scan>  
<mvc:default-servlet-handler/> 

<style type="text/css">
body{
	background:url(__IMAGES__/cloud.jpg) 0 bottom repeat-x  #049ec4;
	/*background-size:100% 100%;  */
}
</style>
<style type="text/css">
.nav-ul{
	background-color:#fff;
}
.cover{
	width:50px;
	height: 50px;
	border-radius:50%;
}

.nav-li{
	color:#fff;
}
.nav-left{
	padding: 10px;
	margin-left:15px; 
	display: inline-block;
	width: 120px;
	border:0px solid #ced7ce;
	border-right: 3px solid #ced7ce;
	border-bottom: 3px solid #ced7ce;
	border-radius:10px;
}
.content{
	border:1px solid #ced7ce;
	border-right: 3px solid #ced7ce;
	border-bottom: 3px solid #ced7ce;
	border-radius:10px;
}
.content:hover{
	border-color:#FFDEAD;
}
.nav-left:hover{
	border-color:#FFDEAD;
}
</style>
</head>
<body>
	<!-- header -->
	<div class="header">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">
		        <img alt="Brand" src="__IMAGES__/cover.jpg" class="cover">
		      </a>
		    </div>
		    <!-- <span id="time" class="navbar-text navbar-link text-center text-justify" >time</span> -->
		    <p class="navbar-text navbar-right">
		    	<a href="#" class="navbar-link" style="padding-right: 20px;">博客主页</a>
		    	<a href="#" class="navbar-link" style="padding-right: 20px;">logout</a>
		    </p>
		  </div>
		</nav>
	</div>
	<!-- header -->
	<!-- container -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-1 nav-left" >
			<ul class="nav nav-pills nav-stacked">
				<li role="presentation" class="dropdown">
				<a class="dropdown-toggle nav-ul" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" onclick="nav_click(this.name)" name="home">
				  首页
				</a>
				</li>
				<li role="presentation" class="dropdown">
					<a class="dropdown-toggle nav-ul" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" onclick="nav_click(this.name)" name="article_list">
					  文章
					</a>
					<!-- <ul class="dropdown-menu">
					 ...
					</ul> -->
				</li>
			</ul>
			</div>
			<div class="col-md-10" >
				<div class="embed-responsive embed-responsive-16by9 content ">
				  <iframe class="embed-responsive-item" src="admin/home" scrolling="no" id="myiframe"></iframe>
				  <!-- <ul class="list-group con_ul">
				    <li class="list-group-item">
				      <span class="badge"><a href="">详情</a></span>
				      <span class="badge"><a href="">删除</a></span>
				      <span class="badge"><a href="">修改</a></span>
				      此处应有文章列表
				    </li>
				  </ul> -->
				</div>
			</div>
		</div>
	</div>
<!-- container -->
	<div class="footer" ></div>
</body>

<script type="text/javascript" src="__JS__/jquery.js"></script>
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/esm/popper-utils.js"></script> -->
<script type="text/javascript" src="__JS__/admin/bootstrap.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->

<script type="text/javascript">
	// window.onload = function()
	// {
	// 　　var _offset = sessionStorage.getItem("offsetTop");
	// 　　$(document).scrollTop(offsetTop);
	// };
	// $(window).scroll(function(){
	// if($(document).scrollTop()!=0){
	// 　　　　sessionStorage.setItem("offsetTop", $(window).scrollTop());
	// 　　　}
	// });
	$(document).ready(function(){
		var nav_name = sessionStorage.getItem('nav');
		if(nav_name != null){
			$('#myiframe').attr('src','admin/'+nav_name);
		}
	});

	function nav_click(e){
		sessionStorage.setItem("nav", e);
		$('#myiframe').attr('src','admin/'+e);
		// $.ajax({
		// 	url:'admin/'+e,
		// 	type:'get',
		// 	dataType:'json',
		// 	success:function(r){
		// 		$('.con_ul').html('');
		// 		for(var i=0;i<r.length;i++){
		// 			$('.con_ul').html(
		// 				$('.con_ul').html()+
		// 				'<li class="list-group-item" id_name="'+r[i].id+'">'+
		// 				'<span class="badge">'+'<a href="javascript:void(0);">'+'删除'+'</a>'+'</span>'+
		// 				'<span class="badge">'+'<a href="javascript:void(0);">'+'修改'+'</a>'+'</span>'+
		// 				'<span class="badge">'+'<a href="javascript:void(0);">'+'详情'+'</a>'+'</span>'+
		// 				r[i].title+
		// 				'</li>'
		// 			);
		// 		}
		// 	}
		// });
	}
</script>
</html>