<?php $this->load->view("admin/header.php");?>
    <div class="content">
        <div class="header">
            <h1 class="page-title">后台首页</h1>
        </div>
        <ul class="breadcrumb">
            <li><a href="<?php echo site_url("admin/lake/index")?>">Home</a> <span class="divider">/</span></li>
            <li class="active">Index</li>
        </ul>
        <div class="container-fluid">
            <div class="row-fluid">
                现在的时间是：
            </div>
            <div class="row-fluid">
               <p id="time" ></p>
            </div>
            <div class="row-fluid">
               <p id="remind" ></p>
            </div>
        </div>
    </div>
    


    <script src="<?php echo base_url('static/admin/lib/bootstrap/js/bootstrap.js');?>"></script>
    <script type="text/javascript">
        $("[rel=tooltip]").tooltip();
        $(function(){
            $('.demo-cancel-click').click(function(){return false;});
        });
    </script>
    <script>
    function mytime() {

    var time=document.getElementById('time');
    var remind=document.getElementById('remind');

    var mydate=new Date();
    var y=mydate.getFullYear();
    var m=mydate.getMonth()+1;
    var d=mydate.getDate();
    var h=mydate.getHours();
    var min=mydate.getMinutes();
    var s=mydate.getSeconds();
    if(6< h && h < 10){
        remind.innerHTML = "早上好";
    }else if(10<= h && h < 14){
        remind.innerHTML = "中午好";
    }else if(14<= h && h < 19){
        remind.innerHTML = "下午好";
    }
    time.innerHTML = y+'/'+m+'/'+d+','+h+':'+min+':'+s;
    setTimeout(mytime,1000);
    }
    window.onload = mytime;
    </script>
    
  </body>
</html>
